.modal-xl-1{
    max-width: 100%;
       border: 2px solid rgb(231, 232, 243);
       border-radius: 1rem 1rem;
       margin: auto;
       box-shadow: 0 13px 20px rgba(195, 28, 28, 0.2);
       padding: 3rem;
       background-color: rgb(134, 144, 153);
       margin-top: 4rem;
   }
   @media screen and (max-width:30px) {
       .modal-xl-1 {
         background: lightblue;
         width: 30px;
       } 
      }
      .modal-xl-3{
        max-width: 100%;
           border: 2px solid rgb(231, 232, 243);
           border-radius: 1rem 1rem;
           margin: auto;
           box-shadow: 0 13px 20px rgba(195, 28, 28, 0.2);
 
           background-color: rgb(113, 114, 114);
           margin-top: 4rem;
       }
       
      .modal-xl-2{
        max-width: 99%;
           border: 2px solid rgb(231, 232, 243);
           border-radius: 1rem 1rem;
           margin: auto;
           color: azure;
           box-shadow: 0 13px 20px rgba(195, 28, 28, 0.2);
           padding: 2rem;
           background-color: rgb(134, 144, 153);
           margin-top: 4rem;
       }
       @media screen and (max-width:30px) {
           .modal-xl-2 {
             background: lightblue;
             width: 30px;
           } 
          }

      .hover--image{
         transition: 1s;
      }
      .hover--image:hover{
        transform: scale(1.1);
        box-shadow: 10px 20px 20px rgba(202, 23, 23, 0.2);
      }

    .text--shadow{
       transition: 1s;
    }
    .text--shadow:hover{
    
      transform: scale(1.1);
    }