#main--sec h1{
  font-size: 45px;
    color: #bac0e3;
    text-align: center;
}
.cards-list {
    z-index: 0;
    width: 71%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
}
.card--design{
margin: 30px auto;
    width: 300px;
    height: 260px;
    border-radius: 50px 0;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 30%);
    cursor: pointer;
    transition: 0.4s;
    justify-content: flex-start !important;
  background-color: #97A9BD;
}

.card_image{
    background: #fff;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 10px auto;
}
.card_image i{ 
    margin: 17px;
    font-size: 37px;
  
-webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}
 .card_title .heading {
    font-size: 1.2rem;
    font-weight: 700;
       margin: auto;
    text-align: center;
       color: #fff;
}
.card_title p {
    margin: 10px auto;
    line-height: normal;
  text-align: center;
      color: #fff;
}
.cards-list .card--design:nth-child(1) {
  background-color: #97A9BD;
}
.cards-list .card--design:nth-child(1):hover {
 background-color: #5e6e80;
}

.cards-list .card1 .card_image a i{
  color: #97A9BD;
 
}

.cards-list .card--design:nth-child(2) {
    background-color: #A197BD;
}
.cards-list .card--design:nth-child(2):hover {
 background-color: #625682;
}
.cards-list .card2 .card_image a i{
  color: #A197BD;
 
}
.cards-list .card--design:nth-child(3) {
    background-color: #BDA697;
}
.cards-list .card--design:nth-child(3):hover {
 background-color: #826552;
}
.cards-list .card3 .card_image a i{
  color:#BDA697;
 
}
.btn-flip {
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  font-family: "Open Sans";
  text-transform: uppercase;
}
.btn-flip:hover:after {
  opacity: 1;
  transform: translateY(0) rotateX(0);
}
.btn-flip:hover:before {
  opacity: 0;
  transform: translateY(50%) rotateX(90deg);
}
.btn-flip:after {
top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    color: #ababb4;
    display: block;
    transition: 0.5s;
    position: absolute;
    background: #fcfcfc;
    content: attr(data-back);
  transform: translateY(-50%) rotateX(90deg);
}
.btn-flip:before {
      top: 0;
    left: 0;
    opacity: 1;
    color: #f9f9ff;
    display: block;
    padding: 0 30px;
    line-height: 40px;
    transition: 0.5s;
    position: relative;
    /* background: #fbfbfd; */
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
    border: 1px solid #fbfbfb;
}
.btn-read{
  justify-content: center;
    align-content: center;
    display: flex;
  margin: 31px;
}
